extends layout 
 
block content 
  h1= title 
  if (toShow == null)
    h2 No instance to delete 
  else
  - let ballid = toShow._id 
  - let ball_colour = toShow.ball_colour
  - let ball_size = toShow.ball_size
  - let ball_cost = toShow.ball_cost
  div 
    div.row 
      div(class='ballAttr mr-3') Ball ID is: 
      div #{ballid} 
    div.row 
      div(class='ballAttr mr-3') Ball colour is: 
      div #{ball_colour} 
    div.row 
      div(class='ballAttr mr-3') Ball size is: 
      div #{ball_size} 
    div.row 
      div(class='ballAttr mr-3') Ball cost is: 
      div #{ball_cost} 