extends layout

block content
  h1= title
  - let create = `dispatch(\"/ball/create\")` 
  button.btn(class="btn-success m1-1", onclick=create) Create 
  - let result  = results;
  div(class="container-fluid")
  div(class="row m-1")
   each value,index in results
    - let destination = `buy(\"/ball/update?id=${value._id}\")`
    - let detail = `buy(\"/ball/detail?id=${value._id}\")`
    - let delet = `buy(\"/ball/delete?id=${value._id}\")`
    //-div(class="col-sm-2" onclick=`buy(${index})`)  #{value.ball_colour}, #{value.ball_size}, #{value.ball_cost}
    div(class="row-sm-2", class="m-1" )  #{value.ball_colour}, #{value.ball_size}, #{value.ball_cost}
      button.btn(class="btn-primary m1-1", onclick=destination) Update
      button.btn(class="btn-secondary m1-1", onclick=detail) Detail
      button.btn(class="btn-danger m1-1", onclick=delet) Delete
   script.
    function buy(path)
    {
      //-alert(`Your purchased Item ${index+1}`)
      window.location.href=path 
    }
    function dispatch(path){ 
      window.location.href=path 
    } 
    
  